html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.Dialog {
  height: 100%;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}